<div class="container w-50">
  <div class="text-center display-3 m-2">
    A Simple Word Generator
  </div>
  <div class="text-center display-2 m-3">
    <h2>Word Limit : {{ limit }}</h2> 
  </div>
  <div>
    <input type="range" 
  min="1"
   max="50"
    value="{{ limit }}" 
    class="slider form-control-range" 
    (change)="sliderValue($event)"
    />
    <div class="btn-container"><button (click)="generateWords()" class="btn btn-info">Generate Words!</button>
    </div>
    <div *ngIf="word" class="card card-body ">
      <p>{{ word }}</p>
    </div>

  </div>
  <div>
    <div class="btn-container"><button (click)="generateRandom()" class="btn btn-info">Generate Random Words!</button>
    </div>
      <div class="text-center display-2 m-3">
        <h2>Word Limit : {{ RandomLimit }}</h2> 
      </div>
      <div *ngIf="RandomWords" class="card card-body ">
        <p>{{ RandomWords }}</p>
      </div>
  
</div>